@media screen and (max-width: 1024px) {
   .footer-content {
   	width: 570px;
	display: inline-block;
   }
   .footer__text {
   	margin: 0 auto;
   	padding-bottom: 10px;
   }
}

@media screen and (max-width: 1100px) {
	.content {
		width: 100%;
	}
	.row {
		padding: 20px;
	}
}

@media screen and (max-width: 915px) {
	img {
		display: none;
	}
	.text {
		width: 100%;
	}
	.row h2 {
		margin: 0;
	}
}